{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <ul>
        <li>kecup:kecup</li>
        <li>horcice:horcice</li>
    </ul>

    API:{{ dump(api) }}
{% endblock %}